@import "src/assets/styles/colorPalette";
@import "src/assets/styles/templates";

.home {
  padding-bottom: 3em;

  .main {
    width: 28.5em;
    margin: 3em auto 0;

    h1 {
      font-family: Poppins, serif;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.13;
      color: $charade;
    }

    .desc {
      font-family: Roboto, serif;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.38;
      margin-top: 1em;
      color: $shuttleGray;
    }

    .alert {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 1em;
      padding: 1em;
      border-radius: 0.5em;
      background-color: $athensGray;
      gap: 1em;

      .lockIcon {
        font-size: 1em;
        color: $raven;
      }

      > p {
        font-family: Poppins, serif;
        font-size: 0.75rem;
        line-height: 1.38;
        color: $shark;
      }

      .cross {
        @include clearButtonStyles;

        .crossIcon {
          font-size: 1em;
          transition: color 0.3s ease-in-out;
          color: $raven;

          &:hover {
            color: $charade;
          }
        }
      }
    }
  }

  .mainMobile {
    width: 100%;

    h1 {
      padding: 0 1.5em;
      text-align: center;
    }

    .desc {
      padding: 0 1.5em;
      text-align: center;
    }
  }
}