@import "src/assets/styles/colorPalette";
@import "src/assets/styles/templates";

.stage5 {

  > fieldset {
    @include fieldsetBox;
    margin-top: 2em;

    > h2 {
      font-family: Poppins, serif;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.33;
      color: $charade;
    }

    .desc {
      font-family: Poppins, serif;
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 1.33;
      margin-top: 0.125em;
      color: $shuttleGray;
    }

    .socials {

      .socialWrapper {
        $fieldsGap: 1em;
        $buttonGap: 0.5em;

        display: flex;
        align-items: center;
        width: 100%;
        height: 2.75em;
        margin-top: 2em;

        .selectSocial {
          @include input;
          font-family: Roboto, sans-serif;

          font-size: 1.125rem;
          font-weight: 400;
          line-height: 1.56;
          width: 50%;
          text-transform: capitalize;
          color: $shark;
        }

        .inputSocial {
          @include input;
          width: calc(50% - $fieldsGap);
          margin-left: $fieldsGap;
        }

        .removableSocial {
          .selectSocial {
            width: calc(50% - #{$fieldsGap + $buttonGap});
          }

          .inputSocial {
            width: calc(50% - #{$fieldsGap + $buttonGap});
          }
        }

        > button {
          @include clearButtonStyles;
          margin-left: 0.5em;

          .crossIcon {
            width: 1.5em;
            height: 1.5em;
            opacity: 0.5;
            fill: $charade;
          }
        }
      }

      .addMoreButton {
        @include clearButtonStyles;
        font-family: Roboto, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        margin-top: 2em;
        color: $azureRadiance;

        > span {
          margin-left: 0.5em;
        }
      }
    }
  }

  .submitButton {
    @include button;
    margin-top: 2em;

    .arrowIcon {
      margin-left: 0.5em;
    }
  }
}

/*
Mobile
 */

.stage5Mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5em;

  > fieldset {
    width: 100%;
    padding: 0;
    border: none;

    .socials {
      .socialWrapper {
        position: relative;
        align-items: flex-start;
        flex-direction: column;
        height: fit-content;
        margin-top: 1em;

        .selectSocial {
          width: 7em;
        }

        .inputSocial {
          width: 100%;
          height: 3em;
          margin: 0.5em 0 0 0;
        }

        button {
          position: absolute;
          top: 0.5em;
          right: 0.5em;
        }
      }
    }
  }
}