@import "src/assets/styles/color-palette";
@import "src/assets/styles/style-constants";

.resources {
  padding: 6em $sectionPaddingX;
  color: $grey600;
  background-color: $grey50;

  .preHeading {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: $primary600;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.75rem;
    margin-top: 0.3em;
    color: $grey900;
  }

  .desc {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-top: 1em;
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    height: 3em;
    margin-top: 2.5em;
    gap: 1em;

    button {
      font-size: 1rem;
      font-weight: 600;
      line-height: 24px;
      height: 100%;
      padding: 0.75em 1.25em;
    }
  }

  .policy {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25em;
    margin-top: 0.375em;

    a {
      text-decoration: underline;
    }
  }
}

/*
    Mobile
 */

.resourcesMobile {
  padding: 4em $sectionPaddingXMobile;

  .preHeading {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .desc {
    font-size: 1.125rem;
    line-height: 1.725rem;
    margin-top: 1em;
  }

  .inputWrapper {
    flex-direction: column;
    margin-top: 2em;
    gap: 0.5em;

    p, input, button {
      width: 100%;
    }
  }
}