@import "src/assets/styles/color-palette";
@import "src/assets/styles/style-constants";

.postPageHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6em $sectionPaddingX 4em;

  .preHeading {
    font-weight: 600;
    line-height: 1.5rem;
    color: $primary600;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.75rem;
    margin-top: 0.1em;
    letter-spacing: -0.02em;
    color: $grey900;
  }

  .desc {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.875;
    margin-top: 0.5em;
    color: $grey600;

  }

  .getStartedWrapper {
    margin-top: 2em;

    .inputWrapper {
      display: flex;
      align-items: center;
      height: 3em;
      gap: 1em;

      button {
        font-size: 1rem;
        font-weight: 600;
        line-height: 24px;
        height: 100%;
        padding: 0.75em 1.25em;
      }
    }

    .policy {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25em;
      margin-top: 0.375em;
      color: $grey600;

      a {
        text-decoration: underline;
      }
    }
  }
}

/*
  Mobile
 */

.postPageHeaderMobile {
  padding: 4em $sectionPaddingXMobile;

  .preHeading {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.875rem;
  }

  .desc {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .inputWrapper {
    margin-top: 2em;

    > p, button {
      width: 100%;
    }

    button {
      margin-top: 1em;
    }

    .policy {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25em;
      margin-top: 0.375em;
      color: $grey600;

      a {
        text-decoration: underline;
      }
    }
  }
}