div.searchBar {
  position: relative;
  width: 100%;
  height: 100%;

  input {
    width: 100%;
    height: 100%;
    padding-left: 3em;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  label {
    left: 3em;
  }

  .glass {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
  }

  .xMark {
    position: absolute;
    top: 50%;
    right: 1em;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
  }
}