@import "src/assets/styles/style-constants";
@import "src/assets/styles/color-palette";

.smallPost {
  width: 100%;

  > img {
    width: 100%;
    aspect-ratio: 8 / 5;
    object-fit: cover;
  }

  .authorWrapper {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    margin-top: 2em;
    color: $primary700;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    color: $grey900;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2rem;
    }

    svg {
      transform: rotate(45deg) scale(1.2);
    }
  }

  .desc {
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0.5em;
    color: $grey600;
  }

  .tagsWrapper {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
    text-transform: capitalize;
    gap: 0.5em;

    div {
      padding: 0.25em 0.5em;
      border-radius: 1em;
    }
  }

  &.mainPost {
    width: 100%;
    padding-bottom: 1em;

    > img {
      width: 100%;
      max-height: 26em;
    }

    .titleWrapper {
      h2 {
        font-size: 1.875rem;
        line-height: 2.375rem;
      }
    }
  }
}