$charade: #242731;
$frenchGray: #b9b9c3;
$iron: #e2e4e5;
$azureRadiance: #007aff;
$shuttleGray: #575f6e;
$athensGray: #f0f2f4;
$shark: #242426;
$raven: #79808f;
$silverSand: #bbbfc1;
$silver: #cbcbcb;
$emerald: #34c759;
$aliceBlue: #eff7ff;